body {
  background-image: url("/img/bg.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
}

.container {
  background-color: rgba(255,255,255,.8);
  padding-bottom: 10px;
}