[Unit]
Description=Unification WRKChain Service

[Service]
User=deploy
Group=deploy
WorkingDirectory=/home/deploy
ExecStart={{ command }}

[Install]
WantedBy=default.target
